<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Disappearing Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/local.css') }}">

    </head>
    <body>
    	<div class="container">	
	    	<h1> No Ninjas Here!!!</h1>
	    	<a href='/ninja'> Do you want to go see my ninjas? </a>
	    	<a href='/ninja/red'> Check Out my Red Ninja</a>
	    	<a href='/ninja/orange'> Check Out my Orange</a>
	    	<a href='/ninja/blue'> Check Out my Blue</a>
	    	<a href='/ninja/purple'> Check Out my Purple </a>

	  	</div>
    </body>
</html>